/* Devicon 字体定义 - 使用本地字体文件 */
@font-face {
  font-family: 'devicon';
  src: url('/fonts/devicon.eot?qd25fp');
  src:
    url('/fonts/devicon.eot?qd25fp#iefix') format('embedded-opentype'),
    url('/fonts/devicon.ttf?qd25fp') format('truetype'),
    url('/fonts/devicon.woff?qd25fp') format('woff'),
    url('/fonts/devicon.svg?qd25fp#devicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='devicon-'],
[class*=' devicon-'] {
  font-family: 'devicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
